<<<<<<< HEAD
.btn {
  // @extend .semibold;
  color: $grey-9;
  padding: 0.6em map-get($em-spacers, 12);
}
=======
.btn {
  // @extend .semibold;
  color: $grey-9;
  padding: 0.6em map-get($em-spacers, 12);
}
>>>>>>> 3c094b84c4b6a5e6c8400166ac60b7393b7ddcff
