<<<<<<< HEAD
@use "2-base/base";

.container {
  padding: map-get($em-spacers, 4) map-get($em-spacers, 12);
  margin: 0 map-get($em-spacers, 4);
  border-radius: 12px;
  background-color: $grey-1;
  cursor: pointer;
  @include transition-2s("ease-out", "background-color");

  &:hover {
    background-color: $grey-3;
  }

  &:focus-within {
    background-color: initial;
  }

  &:first-of-type {
    flex-basis: 100%;
  }

  & > div {
    justify-content: center;
  }

  input {
    height: auto;
    padding: 0;
    border-radius: 0;
    background-color: transparent !important;
    border: none;

    &::placeholder {
      color: $grey-9;
    }
  }

  :global {
    .input__label__container {
      padding: 0;
      margin: 0;

      label {
        @include font-semibold();
      }
    }
  }
}

.container summary {
  padding: 0;
  background-color: transparent !important;
  width: auto !important;
  border: none;
  border-radius: 0;
  box-shadow: none;

  &::marker {
    content: "";
  }

  svg {
    @extend .d--none;
  }

  p {
    font-size: 0.875rem;
  }

  p > div:first-child {
    color: $grey-9;
    margin-bottom: 0.15em;
    @include font-semibold();

    + div {
      color: $grey-9;
    }
  }

  ~ div:last-child > div {
    min-width: 35%;
  }
}
=======
@use "2-base/base";

.container {
  padding: map-get($em-spacers, 4) map-get($em-spacers, 12);
  margin: 0 map-get($em-spacers, 4);
  border-radius: 12px;
  background-color: $grey-1;
  cursor: pointer;
  @include transition-2s("ease-out", "background-color");

  &:hover {
    background-color: $grey-3;
  }

  &:focus-within {
    background-color: initial;
  }

  &:first-of-type {
    flex-basis: 100%;
  }

  & > div {
    justify-content: center;
  }

  input {
    height: auto;
    padding: 0;
    border-radius: 0;
    background-color: transparent !important;
    border: none;

    &::placeholder {
      color: $grey-9;
    }
  }

  :global {
    .input__label__container {
      padding: 0;
      margin: 0;

      label {
        @include font-semibold();
      }
    }
  }
}

.container summary {
  padding: 0;
  background-color: transparent !important;
  width: auto !important;
  border: none;
  border-radius: 0;
  box-shadow: none;

  &::marker {
    content: "";
  }

  svg {
    @extend .d--none;
  }

  p {
    font-size: 0.875rem;
  }

  p > div:first-child {
    color: $grey-9;
    margin-bottom: 0.15em;
    @include font-semibold();

    + div {
      color: $grey-9;
    }
  }

  ~ div:last-child > div {
    min-width: 35%;
  }
}
>>>>>>> 3c094b84c4b6a5e6c8400166ac60b7393b7ddcff
