$img-gap: map-get($em-spacers, 12);
$product-list-padding: map-get($em-spacers, 16);

.container {
  position: relative;
  margin: map-get($em-spacers, 16) 0;
}

.images > div:first-child {
  margin-right: $img-gap;
  min-width: 60%;
  @include aspect-ratio(100%);

  &:only-child {
    margin-right: 0;
  }
}

.restImgs {
  gap: $img-gap;
  min-height: 35vh;

  & > div {
    position: relative;
    flex: 1 1 30%;

    &:last-child {
      cursor: pointer;
    }

    &:last-child:hover > div > div {
      opacity: 1;
      cursor: pointer;
      transform: none;
    }
  }
}

.moreImgs {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba($grey-10, 0.4);
  color: $grey-1;
  @include transition-2s("ease-out", "transform");

  &:hover {
    transform: scale(1.2);
  }
}

.viewReviews {
  margin: map-get($em-spacers, 32) 0 map-get($em-spacers, 20);

  & > div:first-child {
    & > div {
      color: $grey-9;
    }

    & > div > div {
      margin-left: map-get($em-spacers, 8);
    }
  }

  & > div:last-child {
    margin-top: map-get($em-spacers, 8);

    & > svg {
      margin-top: map-get($em-spacers, 4);
      margin-left: map-get($em-spacers, 4);

      path {
        stroke: $secondary !important;
      }
    }
  }

  .reviewsUserImgs {
    .reviewUserImg {
      border: 3px solid $grey-1 !important;
    }

    & > div {
      margin-right: -15% !important;
    }
  }
}

.description {
  // margin-top: map-get($em-spacers, 32);
  margin-top: map-get($em-spacers, 12);
}

.productsPreview {
  position: relative;
  margin-top: map-get($em-spacers, 32);
  
  .list {
    padding: $product-list-padding;
    max-height: 23em;
    border-radius: 14px;
    background-color: rgba($blue-3, 0.7);
  }
}

.ctaContainer {
  position: sticky;
  bottom: 0;
  padding: map-get($em-spacers, 24) $product-list-padding;
  padding-top: map-get($em-spacers, 64);
  margin-top: -45%;
  background: linear-gradient(to top, $grey-1, transparent);

  a {
    text-decoration: none;
    max-width: 18em;
  }

  button {
    border-color: $volcano-5;
    padding: map-get($em-spacers, 16) 0;
    background-color: $volcano-5;
  }
}

@include breakpoint("sm") {
  .container > div:first-child {
    display: none;
  }

  .details {
    flex-direction: row-reverse;
    margin-top: map-get($em-spacers, 20);
  }

  .viewReviews {
    flex: 1 0 11rem;
    margin-top: inherit;
    margin-left: map-get($em-spacers, 32);
  }

  .description {
    margin-top: inherit;
  }

  .images > div:first-child {
    min-width: 36%;
  }

  .restImgs {
    flex-wrap: wrap;
    flex-direction: row;
    min-height: auto;

    & > div {
      max-width: 66%;
    }
  }

  .productsPreview {
    .list {
      max-height: none;

      .ctaContainer {
        display: none;
      }
    }
  }

  .ctaContainer {
    display: none;
  }
}
