<<<<<<< HEAD
.container {
  max-width: 75%;
  margin-bottom: map-get($em-spacers, 24);

  h3 {
    font-size: 2rem;
    line-height: 100%;
  }
}
=======
.container {
  max-width: 75%;
  margin-bottom: map-get($em-spacers, 24);

  h3 {
    font-size: 2rem;
    line-height: 100%;
  }
}
>>>>>>> 3c094b84c4b6a5e6c8400166ac60b7393b7ddcff
