<<<<<<< HEAD
.container {
  position: relative;
  overflow: hidden;
  border-radius: 14px;
  cursor: pointer;
}
=======
.container {
  position: relative;
  overflow: hidden;
  border-radius: 14px;
  cursor: pointer;
}
>>>>>>> 3c094b84c4b6a5e6c8400166ac60b7393b7ddcff
