.container {
  position: relative;
  overflow: hidden;
  border-radius: 14px;
  // cursor: pointer;
  @include transition-2s("ease-out", "opacity, transform");

  &:hover {
    opacity: 0.75;
    transform: scale(0.99);
  }
}

.zoom > div {
  border-radius: 14px;
}