@use "sass:math";

// .link {
//   margin-bottom: map-get($em-spacers, 40);

//   &:last-of-type {
//     margin-bottom: 7em;
//   }
// }

// .container {
// padding: map-get($em-spacers, 16);
// background-color: $grey-1;
// border: 1px solid $grey-6;
// border-radius: 14px;
// min-height: 22.5em;
// @include transition-2s("ease-in-out", "background-color");

// &:hover {
//   background-color: $grey-2;
// }

// // &:active .content {
// //   opacity: 0.75;
// // }

// &.unavailable {
// opacity: 0.75;
// background-color: $grey-4;

// .header > div:last-child {
//   background-color: $grey-4 !important;
// }
// }
// }

// .imgContainer {
// flex-shrink: 0;
// transform: scale(1.01);
// border-radius: inherit;
// overflow: hidden;
// min-height: 192px;
// @include aspect-ratio(60%);
// }

// .content {
//   padding: map-get($em-spacers, 16);
//   padding-top: map-get($em-spacers, 20);
//   align-self: stretch;
//   // margin-left: 0.4em;
// }

.header {
  h5 {
    color: $grey-9;

    + div {
      margin-left: map-get($em-spacers, 8);
      color: $grey-7;
    }
  }

  // & > div:last-child > svg:first-child path {
  //   stroke: $grey-9;
  // }
}

.feature {
  color: $grey-8;

  &::after {
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    margin: 0 map-get($em-spacers, 8);
    background-color: $grey-8;
  }
}

.unavailableTag {
  margin-top: map-get($em-spacers, 8);
  color: $error-color;

  @include font-semibold();
}

.reviewsScore {
  margin-top: map-get($em-spacers, 4);

  svg {
    margin-top: 0.1em;
    margin-right: map-get($em-spacers, 4);
    background: transparent;
    opacity: 0.85;
  }

  span {
    color: $grey-7;
  }
}

.recommendedProducts {
  margin: map-get($em-spacers, 16) 0;

  .quantity {
    $size: 24px;
    min-height: $size;
    min-width: $size;
    padding: map-get($em-spacers, 4);
    margin-right: map-get($em-spacers, 8);
    border-radius: 4px;
    text-align: center;
    background-color: $grey-3;
  }

  .product {
    svg {
      margin-left: 0.15rem;
    }

    path {
      fill: $grey-7;
    }

    &:not(:last-of-type) {
      margin-bottom: map-get($em-spacers, 16);
    }
  }

  & > span {
    width: 10%;
    height: 0.75px;
    margin-bottom: map-get($em-spacers, 8);
    background-color: $grey-5;
  }
}

// .loading {
// &#{Header} {
//   margin-bottom: map-get($rem-spacers, 12);
//   min-height: map-get($rem-spacers, 24);
// }

// &PriceTag {
//   width: 30%;
//   margin-left: map-get($rem-spacers, 64);
//   min-height: map-get($rem-spacers, 32);
// }
// }

// .priceTag {
//   color: $grey-9;
// }

@include responsive() {
  // .container {
  // flex-direction: row;
  // min-height: 12em;
  // height: 1px;
  // }

  // .imgContainer {
  //   max-width: 12.5em;
  //   min-height: auto;
  //   flex-shrink: 1;
  //   transform: scale(1.05);
  // }

  .content {
    // padding-top: map-get($em-spacers, 16);
    // padding-left: 1.75em;

    .header > div:last-child {
      align-self: flex-start;
    }

    & > div:last-child > div {
      color: $grey-9;
    }
  }
}
