<<<<<<< HEAD
.container {
  margin: map-get($em-spacers, 48) 0;

  & > h6 {
    margin-bottom: map-get($em-spacers, 12);
    color: $grey-9;
  }
}

.contact {
  margin-bottom: map-get($em-spacers, 12);
}
=======
.container {
  margin: map-get($em-spacers, 48) 0;

  & > h6 {
    margin-bottom: map-get($em-spacers, 12);
    color: $grey-9;
  }
}

.contact {
  margin-bottom: map-get($em-spacers, 12);
}
>>>>>>> 3c094b84c4b6a5e6c8400166ac60b7393b7ddcff
