.container {
  @extend .layout--padding;
  padding-top: $wrapper-padding/2;
  padding-bottom: $wrapper-padding/2;
  margin-top: map-get($em-spacers, 8);
  margin-bottom: map-get($em-spacers, 12);
}

.filters {
  margin-left: map-get($em-spacers, 24);
  overflow-x: scroll;

  span {
    @extend .semibold;
    margin-right: map-get($em-spacers, 20);
    color: $grey-8;
    flex-shrink: 0;

    &.active {
      @extend .bold;
      color: $grey-10;
    }
  }
}
