.container {
  padding: map-get($em-spacers, 8);
  border-radius: 14px;
  background-color: $grey-3;
  min-width: 11em;
  scroll-snap-align: start;
  cursor: pointer;
  @include transition-2s("ease-out", "background-color");

  &:hover {
    background-color: $grey-4;
  }
}

.imgContainer {
  margin-right: map-get($em-spacers, 16);
  flex-shrink: 0;

  & > div {
    border-radius: 14px;
  }

  + div {
    margin-right: map-get($em-spacers, 4);
  }

  + div > div:not(:only-child):last-child {
    white-space: nowrap;
    color: $grey-9;
  }
}
