$padding: map-get($em-spacers, 16);
$cartBottomBorder: 2px solid $grey-4;

.container {
  position: relative;
  padding: $padding;
  background-color: $grey-1;
  border-radius: 14px;
  color: $grey-10;
  margin-bottom: map-get($em-spacers, 32);
  border: 1px solid $grey-4;
  box-shadow: 0px 1px 6px rgba($grey-6, 0.6);
}

.content {
  max-width: none;

  h5 {
    margin-bottom: map-get($em-spacers, 8);
  }

  p {
    max-width: none;
    @include text-overflow(3);
  }
}

.imgContainer {
  position: relative;
  float: left;
  margin-right: $padding;
  margin-bottom: $padding;
  user-select: none;
  // @include aspect-ratio(90%);

  & > div {
    border-radius: 14px;
  }

  ~ div:not(:nth-child(2)) {
    clear: both;
  }
}

.priceTag {
  // top: map-get($em-spacers, 12);
  // right: map-get($em-spacers, 12);
  padding: map-get($em-spacers, 4) 0.65em 0.35em;
  flex: 0 0 auto;
  background-color: $grey-9;
  color: $grey-1;
  user-select: none;
}

.components {
  margin-top: map-get($em-spacers, 24);
  margin-bottom: map-get($em-spacers, 16);
}

.cartBottom {
  position: relative;
  padding: map-get($em-spacers, 12) $padding;
  border-top: $cartBottomBorder;
  width: calc(100% + (#{$padding} * 2));
  align-self: center;

  button {
    margin-left: auto;
    padding: map-get($em-spacers, 8) map-get($em-spacers, 16);
    box-shadow: none;
  }
}

@include responsive() {
  .container {
    flex-direction: row;
    padding-bottom: $padding !important;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .content p {
    display: inline;
  }

  .components {
    margin-bottom: 0;
  }

  .cartBottom {
    width: auto;
    flex-direction: column;
    align-self: stretch;
    margin-left: map-get($em-spacers, 64);
    padding: 0;
    padding-left: map-get($em-spacers, 32);
    border-top: none;
    border-left: $cartBottomBorder;
  }
}
