.layout--padding {
  padding: $wrapper-padding;
  padding-top: calc(#{$wrapper-padding}/ 1.5);
}

.container--padding {
  padding: 0 $wrapper-padding;
}

.container--mw {
  max-width: map-get($breakpoints, "xl");
}

.container {
  @extend .w100;
  @extend .container--mw;
  @extend .container--padding;
  display: inherit;
  flex-direction: inherit;
  margin: 0 auto;
  flex: 1;

  & > main {
    flex: inherit;
  }
}

@include responsive() {
  .layout__shopping-cart {
    right: 0;
    max-width: 26em;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}
