.layout--padding {
  padding: $wrapper-padding;
  padding-top: calc(#{$wrapper-padding}/ 1.5);
}

.wrapper {
  @extend .flex-column-space-between-unset;
  @extend .h-100;
  padding: $wrapper-padding;
  padding-top: calc(#{$wrapper-padding}/ 1.5);
  overflow-x: hidden;
  box-sizing: content-box;
  position: relative;
}
