.auth-form {
  &__description {
    @extend .light;
    color: $grey-9;
  }
  
  &__other {
    margin: map-get($em-spacers, 16) 0 map-get($em-spacers, 8);
  }

  &__cta {
    @extend .semibold;
    align-self: center;
    padding-right: map-get($em-spacers, 24);
    padding-left: map-get($em-spacers, 24);
    margin-top: map-get($em-spacers, 16);
  }

  &__forgot-password {
    align-self: flex-end;
    margin-top: -(map-get($em-spacers, 20));
  }

  &__form {
    align-self: stretch;
    margin-top: map-get($em-spacers, 32);
    gap: map-get($em-spacers, 16);

    & > div {
      max-width: none;

      &:nth-of-type(2) > div {
        max-width: none;
      }
    }
  }
}
