@mixin list {
  @for $i from 1 through $rating-boxes-length {
    $value: rating-color($i);
    $stroke: map-get($value, "first");

    .rating--#{$i} {
      background: linear-gradient(to bottom left, map-get($value, "first"), map-get($value, "second"));

      path {
        stroke: $stroke;
        fill: $stroke;
      }
    }
  }
}

@include list();
