.icon {
  // path,
  // circle {
  //   stroke-width: 1px;
  //   stroke: $grey-10;
  // }

  &--bold path {
    stroke-width: 2.5px !important;
  }

  &__stroke--sm {
    stroke-width: 1px;
  }

  &__stroke--none {
    stroke: none !important;
  }

  &__stroke--none__path path {
    @extend .icon__stroke--none;
  }

  &__stroke--white path {
    stroke: $grey-1;
  }

  &__filled-path {
    &--white {
      stroke: $grey-1 !important;
    }
  }

  &__filled {
    &--white {
      fill: $grey-1 !important;
    }
    &--black {
      fill: $grey-10 !important;
    }
  }

  &-stroke {
    &--success {
      stroke: $success-color !important;
    }

    &--error {
      stroke: $error-color !important;
    }
  }

  &-save {
    & > mask {
      fill: $grey-1;

      & > path {
        stroke-width: 0px;
      }
    }

    & > path {
      fill: $grey-10;
      stroke: none !important;
    }
  }

  &-chechmark {
    &__path--filled {
      stroke: $grey-1 !important;
    }

    &__colored {
      stroke: $green-7;
    }

    &__circle--colored {
      stroke: none !important;
      fill: rgba($green-7, 0.8) !important;
    }
  }

  &-close {
    &__path--filled {
      stroke: $grey-1 !important;
    }

    &__circle--colored {
      stroke: none !important;
      fill: rgba($red-6, 0.8) !important;
    }
  }

  &-star {
    &--filled {
      stroke: $yellow-5;
      fill: $yellow-5;
    }

    &--grey {
      stroke: none;
      fill: $grey-4;
    }
  }

  &__beach-umbrella__filled-stroke {
    stroke: $grey-10 !important;
  }

  &__colored {
    $color: $volcano-5;

    &--chair,
    &--sunbed,
    &--snacks,
    &--swimming-pool,
    &--stroke {
      path {
        stroke: $color;
      }
    }

    &--sunbed-with-mattress,
    &--beach-umbrella,
    &--fill {
      path {
        fill: $color;
      }
    }

    &--parking-sign circle {
      fill: $color;
    }

    &--fresh-juice {
      &__glass {
        fill: $orange-3;
        stroke: $orange-3;
      }

      &__ice-cubes {
        fill: $orange-2;
      }
    }

    &--coffee {
      &__seed {
        fill: $green-6;
      }

      &__paper {
        fill: $bronze-5;
      }

      &__spoot {
        fill: $grey-8;
      }
    }

    &--soft-drink {
      &__brand {
        fill: $yellow-4;
      }

      &__lane,
      &__sticker-edges {
        fill: $orange-3;
      }

      &__sticker {
        fill: $red-4;
      }

      &__spoot {
        fill: $orange-2;
      }
    }

    &--refreshment-drink {
      &__ice-cube {
        fill: $green-5;
      }

      &__liquid {
        fill: $green-6;
      }

      &__sliced-fruit {
        fill: $yellow-4;
      }
    }

    &--beer {
      &__mounting {
        fill: $orange-5;
      }

      &__foam {
        fill: $orange-3;
      }

      &__glass {
        fill: $yellow-4;
      }

      &__spoot {
        fill: $grey-4;
      }
    }

    &--alchoholic-drink {
      &__glass {
        fill: $cyan-1;
      }

      &__liquid {
        fill: $yellow-3;
      }

      &__olive {
        fill: $green-7;
      }
    }

    &--food-cutlery {
      &__tops {
        fill: $grey-5;
      }

      &__knive-base {
        fill: $orange-4;
      }

      &__fork-base {
        fill: $red-4;
      }
    }
  }
}
