<<<<<<< HEAD
.btn {
  padding: 0;
  border: none;
  box-shadow: none;

  &:hover {
    background-color: unset;
  }

  svg {
    display: none;
  }
}
=======
.btn {
  padding: 0;
  border: none;
  box-shadow: none;

  &:hover {
    background-color: unset;
  }

  svg {
    display: none;
  }
}
>>>>>>> 3c094b84c4b6a5e6c8400166ac60b7393b7ddcff
