// 2 - Base
@import "2-base/base";
@import "2-base/layout";

// 4 - Pages
@import "4-pages/home";
@import "4-pages/map";
@import "4-pages/search";
@import "4-pages/account";
@import "4-pages/checkout";
// @import "4-pages/beach_bar";
@import "4-pages/partners";
@import "4-pages/dashboard";

// 5 - Modules
@import "5-modules/base";
// @import "5-modules/auth_form";
@import "5-modules/icon";
@import "5-modules/beach_bar";
@import "5-modules/stripe";

html {
  scroll-behavior: smooth;
}

body {
  // min-height: 100%;
  background: $grey-1;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: unset !important;
}

#__next {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  max-width: 60ch;
}

.filled {
  @extend .icon__stroke--none;
  fill: $grey-10;
}

.mapboxgl-canvas {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}


