@use "main" as *;

.no-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;
}

.w100 {
  width: 100%;
}

.iw100 {
  width: 100% !important;
}

.w--inherit {
  width: inherit;
}

.w--auto {
  width: auto !important;
}

.h100 {
  height: 100%;
}

.ih100 {
  height: 100% !important;
}

.h--inherit {
  height: inherit;
}

.border-radius--md {
  border-radius: 99px;
}

.iborder-radius--md {
  border-radius: 99px !important;
}

.border-radius--lg {
  border-radius: 999px;
}

.iborder-radius--lg {
  border-radius: 999px !important;
}

.d--none {
  display: none;
}

.id--none {
  display: none !important;
}

.d--block {
  display: block;
}

.id--block {
  display: block !important;
}

.d--inline {
  display: inline;
}

.d--ib {
  display: inline-block;
}

.id--ib {
  display: inline-block !important;
}

.d--if {
  display: inline-flex;
}

/* Margin */
.m0 {
  margin: 0;
}

.im0 {
  margin: 0 !important;
}

.m-tb--auto {
  margin: auto 0;
}

.im-tb--auto {
  margin: auto 0 !important;
}

.normal {
  font-weight: map-get($font-weights, "normal");
}

.text-transform--capitalize {
  text-transform: capitalize;
}

.zi--sm {
  z-index: 9;
}

.zi--md {
  z-index: 99;
}

.zi--lg {
  z-index: 999;
}

.zi--xl {
  z-index: 99999;
}

.zi--none {
  z-index: -1;
}

.flex--wrap {
  flex-wrap: wrap;
}

.text--grey {
  color: $grey-8;
}

.itext--grey {
  color: $grey-8 !important;
}

.text--white {
  color: $grey-1;
}

.text--primary {
  color: $volcano-5;
}

.itext--primary {
  color: $volcano-5 !important;
}

.text--secondary {
  color: $secondary;
}

.text--nowrap {
  white-space: nowrap;
}

.text--center {
  text-align: center;
}

.itext--center {
  text-align: center !important;
}

.text--left {
  text-align: left;
}

.text--right {
  text-align: right;
}

.itext--right {
  text-align: right !important;
}

.cursor--pointer {
  cursor: pointer;
}

.clr--inherit {
  color: inherit;
}

.loading {
  @extend .w100;
  background-color: $loading-bg;

  &--text {
    @extend .border-radius--md;
    min-height: map-get($rem-spacers, 16);
  }
}

.font--italic {
  @include font--italic();
  // font-style: italic;
}
