@use "2-base/base";

.container {
  margin-bottom: map-get($em-spacers, 20);

  & > button {
    margin-left: auto;
    padding: 0.5em;
    @include font-semibold();

    & > span {
      transform: translateY(-0.125em);
    }

    &:hover path {
      stroke: $grey-1;
    }
  }
}

.form > div {
  &:first-child {
    // TODO: Remove comment later, after downloading the new version of hashtag components
    // @extend .input--width;
    order: -1;

    & > div {
      @extend .w100;
    }
  }

  .btn {
    padding: map-get($em-spacers, 8) map-get($em-spacers, 12);
    margin-left: auto;
    margin-bottom: map-get($em-spacers, 24);

    &:hover path {
      stroke: $grey-1;
    }
  }

  // &:last-child {
  //   margin-top: map-get($em-spacers, 24);
  // }
}
