<<<<<<< HEAD
@use "2-base/base";

$padding: map-get($em-spacers, 16);

.container {
  height: auto;
  border-radius: 14px;
  overflow: hidden;
  max-width: 320px;
  flex-shrink: 0;

  &:not(:last-child) {
    margin-bottom: map-get($em-spacers, 40);
  }
}

.cardContainer {
  position: relative;
  background: linear-gradient(to right, #ec008c, #fc6767);
  padding: $padding;
  box-shadow: inset 0px 0px 12px rgba($grey-10, 35%);
  border-radius: inherit;

  & > div {
    @extend .w100;
    height: min(40vw, 160px);

    path {
      stroke: $grey-1;
      stroke-width: 0.5px;
    }
  }
}

.edit {
  width: 84%;
  background-color: $grey-4;
  padding: calc(#{$padding} * 0.6) $padding;
  transform: translateY(-2px);
  border-radius: inherit;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin: 0 auto;
  cursor: pointer;

  & > div:first-child > h6 {
    margin-left: map-get($em-spacers, 8);
    margin-bottom: 0.1em;
    color: $secondary;
  }
}

.actions button {
  padding: 0.4em;

  &:not(:last-child) {
    margin-right: map-get($em-spacers, 12);
  }

  &:hover > svg > * {
    stroke: $grey-1;
  }
}
=======
@use "2-base/base" as *;

$padding: map-get($em-spacers, 16);

.container {
  height: auto;
  border-radius: 14px;
  overflow: hidden;
  max-width: 320px;
  flex-shrink: 0;

  &:not(:last-child) {
    margin-bottom: map-get($em-spacers, 40);
  }
}

.cardContainer {
  position: relative;
  background: linear-gradient(to right, #ec008c, #fc6767);
  padding: $padding;
  box-shadow: inset 0px 0px 12px rgba($grey-10, 35%);
  border-radius: inherit;

  & > div {
    @extend .w100;
    height: min(40vw, 160px);

    path {
      stroke: $grey-1;
      stroke-width: 0.5px;
    }
  }
}

.edit {
  width: 84%;
  background-color: $grey-4;
  padding: calc(#{$padding} * 0.6) $padding;
  transform: translateY(-2px);
  border-radius: inherit;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin: 0 auto;
  cursor: pointer;

  & > div:first-child > h6 {
    margin-left: map-get($em-spacers, 8);
    margin-bottom: 0.1em;
    color: $secondary;
  }
}

.actions button {
  padding: 0.4em;

  &:not(:last-child) {
    margin-right: map-get($em-spacers, 12);
  }

  &:hover > svg > * {
    stroke: $grey-1;
  }
}
>>>>>>> 3c094b84c4b6a5e6c8400166ac60b7393b7ddcff
