.container {
  // height: fit-content;
  // background-color: $grey-2;
  // margin-top: map-get($em-spacers, 32);
  // padding-top: $wrapper-padding;
  // cursor: pointer;
  // overflow: hidden;
  @include transition-2s("ease-in", "background-color");

  // & > div:first-child {
  // flex-wrap: wrap;
  // }
}

.logo {
  padding: calc(#{$wrapper-padding} * 0.75) 0;
}

.box {
  align-self: stretch;
  margin-right: map-get($em-spacers, 24);
  max-width: 35%;

  small {
    width: inherit;
    margin-top: map-get($em-spacers, 8);
  }
}

.chevron {
  margin-right: map-get($em-spacers, 16);

  path {
    stroke: $grey-9;
  }
}

.details {
  gap: map-get($em-spacers, 48);
  flex-wrap: wrap;
  margin-top: map-get($em-spacers, 32);
}

.details > div {
  &:first-child {
    order: 1;
  }

  &:nth-child(2) {
    order: 3;
  }

  &:nth-child(3) {
    order: 2;
  }

  &:nth-child(4) {
    order: 4;
  }

  &:last-child {
    flex: 1;
    order: 5;
  }
}

.bottom {
  margin-top: map-get($em-spacers, 32);
  padding: map-get($em-spacers, 20) map-get($em-spacers, 4) map-get($em-spacers, 24);
  border-top: 1px solid $grey-8;

  small {
    color: $grey-9;
  }

  small span {
    margin: 0 map-get($em-spacers, 4);
  }

  a {
    color: $grey-9;
  }
}

.getInTouch {
  margin-bottom: map-get($em-spacers, 40) !important;
}

.getInTouch + div > a {
  padding: map-get($em-spacers, 8);
  margin-right: map-get($em-spacers, 16);
  margin-bottom: 0;
  border-radius: 14px;
  background-color: $grey-4;
  filter: grayscale(100%);
  user-select: none;
  @include transition-2s("ease-out", "background-color");

  &:last-child {
    margin-right: 0;
    background-color: rgba($grey-4, 0.85);
  }

  &:hover {
    background-color: $grey-5;
  }

  &:active {
    background-color: $grey-6;
  }
}

@include responsive() {
  .container {
    cursor: default;

    & > div:first-child {
      flex-direction: row;
    }
  }

  .chevron {
    display: none;
  }

  .details {
    flex-wrap: nowrap;
    margin-top: 0;
  }

  .details > div {
    order: unset !important;
  }
}

@include responsive("max-width") {
  .container:active {
    background-color: $grey-3;
  }
}

@include breakpoint("xl") {
  .details {
    gap: map-get($em-spacers, 64);
  }
}
