.recent-search {
  $border-radius: 12px;

  &__beach-bar {
    // padding: map-get($em-spacers, 12);
    // box-shadow: 0 2px 0.5rem $grey-5;
    border-radius: $border-radius;
    border: 1px solid $grey-5;
    flex: 1 0 auto;

    .divider {
      margin: 0 0.35em;
      width: 0.2rem;
      height: 0.2rem;
      background-color: $grey-9;
      align-self: center;
      border-radius: 50%;
    }
  }

  &__content {
    padding: map-get($em-spacers, 8);

    p:first-child {
      margin-bottom: map-get($em-spacers, 4);
    }
  }

  &__img {
    position: relative;
    border-radius: $border-radius $border-radius 0 0;
    @include aspect-ratio(56.25%);
  }
}
