.container {
  margin-top: map-get($em-spacers, 48);

  & > h5 {
    margin-bottom: map-get($em-spacers, 12);
  }

  :global {
    .input__container {
      max-width: none !important;
    }
  }
}
