<<<<<<< HEAD
.container {
  margin-top: map-get($em-spacers, 48);

  & > h5 {
    margin-bottom: map-get($em-spacers, 12);
  }

  :global {
    .input__container {
      max-width: none !important;
    }
  }
}
=======
.container {
  margin-top: map-get($em-spacers, 48);

  & > h5 {
    margin-bottom: map-get($em-spacers, 12);
  }

  :global {
    .input__container {
      max-width: none !important;
    }
  }
}
>>>>>>> 3c094b84c4b6a5e6c8400166ac60b7393b7ddcff
