.trip {
  width: min(85%, 280px);
}

.container {
  flex-wrap: wrap;
  gap: map-get($em-spacers, 48);
}

@include breakpoint("sm") {
  .container {
    justify-content: flex-start;
    margin: 0 map-get($em-spacers, 12);
  }
}
