.container {
  margin-top: map-get($em-spacers, 24);
  flex-wrap: wrap;
  gap: map-get($em-spacers, 48);
}

@include breakpoint("sm") {
  .container {
    justify-content: flex-start;
    margin-right: map-get($em-spacers, 12);
    margin-left: map-get($em-spacers, 12);
  }
}
