.container {
  :global {
    .mapboxgl-control-container {
      display: flex;
      position: absolute;
      top: 0;
      right: 0;

      & > div:nth-last-child(2),
      & > div:last-child {
        position: static;
      }

      & > div:nth-last-child(2) {
        margin-right: map-get($em-spacers, 12);
      }
    }
  }
}

.searchBar {
  $margin: map-get($em-spacers, 24);
  position: absolute;
  margin: 0;
  padding: $wrapper-padding;
  // So that you can click on a marker below the searchBar
  // not having to be 2em below the searchBar
  padding-bottom: 0;

  // margin: $wrapper-padding;
  // margin-top: map-get($em-spacers, 4);
  // margin-right: map-get($em-spacers, 16);

  .redirectBtn {
    margin-right: $margin;
  }

  .closeDialog {
    margin-left: $margin;
  }
}

.navigationControl {
  position: static !important;
  margin-left: $wrapper-padding;
  margin-top: 7.5em;
  transform: translateX(map-get($em-spacers, 24));
}

.suggestions {
  position: absolute;
  left: 0;
  bottom: 0;
  min-height: 7.5em;
  max-height: 10.5em;
  background: linear-gradient(to top, $grey-1 50%, transparent 70%);

  & > div {
    &:first-child {
      padding: 0 $wrapper-padding;
    }

    &:last-child {
      padding: 0;
      margin-bottom: map-get($em-spacers, 16);
      border: none;
    }
  }
}

.error {
  margin: 0 auto;
  margin-top: map-get($em-spacers, 32);
  padding: map-get($em-spacers, 16);
  width: fit-content;
  background-color: $grey-1;
  border-radius: 16px;
  // box-shadow
}
