@use "sass:math";

$height: em(120);

.carousel {
  margin: 0;
  min-height: calc(#{$height} + #{map-get($em-spacers, 40)});
}

.item {
  height: $height !important;
  opacity: 1 !important;
}

.controlBtns {
  justify-content: flex-end;

  button:disabled {
    background-color: $grey-4;
  }
}