$billing--gap: map-get($em-spacers, 40);
$review--gap: map-get($em-spacers, 40);

.account {
  // &__container {
  // margin-top: map-get($em-spacers, 24);
  // }

  &__form {
    flex-wrap: wrap;
    gap: map-get($em-spacers, 40);
  }

  &__billing {
    &__list {
      gap: $billing--gap;
      margin-bottom: $billing--gap;

      & > div {
        max-width: none;
        margin: 0 !important;
      }
    }

    &__remove-btns button {
      min-width: 20%;
    }
  }

  &__reviews {
    gap: $review--gap;
  }

  &__reviews-info {
    &__answer > div {
      margin: map-get($em-spacers, 16) 0;

      & > svg {
        margin-bottom: map-get($em-spacers, 12);
      }
    }

    &__feedback {
      &:last-child {
        margin-top: map-get($em-spacers, 16);
      }

      & > div {
        max-width: 100%;
      }
    }
  }

  &__favourites {
    flex-wrap: wrap;
    gap: map-get($em-spacers, 24);
  }

  &__history {
    margin-bottom: map-get($em-spacers, 32);

    & > div {
      margin: map-get($em-spacers, 16) 0;
      border-radius: 8px;
      overflow: auto;
      box-shadow: 0.1px 1px 4px $grey-6;
    }
  }
}

@include breakpoint("sm") {
  .account {
    &__favourites {
      align-items: stretch;
      gap: map-get($em-spacers, 32);
    }

    &__billing__list > div {
      flex-basis: calc(50% - (#{$billing--gap} / 2));
    }

    &__reviews > div {
      flex-basis: calc(50% - (#{$review--gap} / 2));
    }
  }
}

@include responsive() {
  .account {
    &__form {
      .input__container,
      .input--width,
      .form-header,
      .autosuggest__container {
        width: 100%;
        max-width: 20em;
      }
    }

    &__group {
      width: auto;
      flex: 1;
    }

    &__billing__list {
      justify-content: flex-start !important;
      align-items: flex-start !important;
    }

    &__reviews-info {
      display: grid !important;
      grid-template-columns: 1fr 1.5fr;
      grid-template-rows: auto auto;
      gap: map-get($em-spacers, 64);

      & > div:last-child {
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
      }
    }

    &__history > div {
      margin: map-get($em-spacers, 20) 0;
    }
  }
}
