.index {
  $border-radius: 14px;

  &__container {
    overflow: visible;
  }

  &__section {
    &__container {
      @extend .w-100;
      overflow: auto;
    }

    &__list {
      @extend .w-100;
      flex-wrap: wrap;
      gap: map-get($em-spacers, 16);
    }
  }

  &__carousel {
    &__container {
      gap: 1em;
      position: relative;
      left: 0;
      width: 100vw;
      height: fit-content;
      // Does not work as needed, so we use a "spacer" div
      // padding: 0 1.5em 0 1.5em;
      overflow-x: scroll;
      cursor: grab;
    }

    &__img {
      border-radius: $border-radius;

      &__container {
        width: min(60vw, 240px);
        height: min(#{$home-img-height}, 300px);
        position: relative;
        flex-shrink: 0;
        overflow: hidden;

        &::after {
          @extend .w-100;
          @extend .h-100;
          content: "";
          background: linear-gradient(
            180deg,
            rgba($grey-1, 0) 45%,
            rgba($grey-10, 0.25) 57.5%,
            rgba($grey-10, 0.75) 100%
          );
          height: 100%;
          position: absolute;
          bottom: 0;
          border-radius: $border-radius;
          z-index: 1;
          pointer-events: none;
        }
      }
    }

    &__content {
      &__container {
        position: absolute;
        // padding: 0.5em;
        // background: rgba($grey-1, 0.5);
        // box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        // backdrop-filter: blur(15px);
        // border-radius: $border-radius;
        // border: 1px solid rgba($grey-1, 0.5);
        width: $home-img-content-width;
        left: 50%;
        bottom: 5%;
        transform: translateX(-50%);
        overflow: hidden;
        z-index: 2;

        div {
          @include path-classNames() {
            stroke: none;
            fill: $grey-1 !important;
          }
        }

        & > * {
          color: $grey-1;
        }
      }
    }

    &__bookmark {
      position: absolute;
      top: -5.5px;
      right: 7.5%;

      svg:first-child path {
        stroke: $grey-1;
        fill: rgba($grey-1, 0.6);
      }

      svg:last-child {
        position: absolute;
        top: 0;
        left: 0;

        path {
          stroke: $volcano-4;
          fill: $volcano-4;
        }
      }
    }
  }
}
