.shopping-cart {
  &__container {
    margin-bottom: map-get($em-spacers, 24);

    div:first-of-type > h4 {
      @extend .text-transform--capitalize;
    }
  }

  &__bars {
    margin: map-get($em-spacers, 24) 0;

    h6 {
      @extend .semibold;
    }
  }

  &__empty {
    span {
      margin-bottom: map-get($em-spacers, 8);
    }

    a {
      margin-bottom: map-get($em-spacers, 64);
    }
  }

  &__checkout-container {
    position: sticky;
    bottom: -24px;
    left: 50%;
    z-index: 9;
    max-width: 360px;
    margin-left: auto;
    background-color: $grey-1;
    padding: map-get($em-spacers, 12) 0;
    margin-bottom: map-get($em-spacers, 24);

    div {
      margin-right: map-get($em-spacers, 48);

      span:first-child {
        margin-bottom: map-get($em-spacers, 8);
      }

      @include breakpoint("sm") {
        display: flex !important;
      }
    }

    button {
      padding: map-get($em-spacers, 12) 0;
      flex-grow: 1;
      align-self: center;

      @include icon-classNames() {
        margin-right: map-get($em-spacers, 8);

        path {
          stroke: $grey-1;
        }
      }
    }
  }

  &__total {
    width: fit-content;
    margin: map-get($em-spacers, 48) 0 map-get($em-spacers, 4) auto;

    & > h6 {
      font-size: 2rem;
    }

    & > span {
      margin-right: map-get($em-spacers, 4);
      font-size: 1.25rem;
    }
  }
}
