$underline-height: 3.5px;

.container {
  width: 100vw;
  transform: translateX(-#{$wrapper-padding});
  overflow-x: scroll;
  overflow-y: visible;
}

.outerContainer {
  position: relative;
  margin: map-get($em-spacers, 20) 0 calc(#{map-get($em-spacers, 32)} + #{$underline-height});
}

.item {
  position: relative;
  margin-right: map-get($em-spacers, 20);
  color: $grey-7;
  cursor: pointer;
  @include transition-2s("ease-in-out", "color");

  &.selected {
    color: $grey-10;
  }
}

.underline {
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 30%;
  height: 3.5px;
  background-color: $volcano-5;
}
