$color: $grey-9;
$border-color: lighten($grey-9, 16);
$border-width: 1.5px;

.container__padding {
  padding: map-get($em-spacers, 32) map-get($em-spacers, 24);
}

.container {
  background-color: $grey-1;
  position: relative;
  border-bottom: $border-width solid lighten($border-color, 10);

  & > h6 {
    color: $color;
  }

  & > div,
  & > svg {
    margin-right: map-get($em-spacers, 24);
  }

  & > div {
    align-self: stretch;
    width: $border-width;
    background-color: $border-color;
    transform: scaleY(1.4);
  }

  & > button {
    position: absolute;
    bottom: -50%;
    right: 12%;
    transform: translateY(-50%);
    padding-top: map-get($em-spacers, 12);
    padding-bottom: map-get($em-spacers, 12);
    @include font-semibold();

    & > svg > path {
      fill: $grey-1;
      stroke: $grey-1;
    }
  }

  & > svg > path {
    stroke: $color;
  }
}

.content {
  background-color: $grey-2;

  & > div {
    margin: map-get($em-spacers, 16) 0 map-get($em-spacers, 64);
  }
}
