.container {
  padding: 0.6em map-get($em-spacers, 12);
  border: 1px solid $grey-5;
  border-radius: 14px;
  // background-color: $grey-1;
  color: $grey-9;
  user-select: none;
  @include transition-2s("ease-out", "background-color");
  @include products-filters-btn--checked();

  & > svg {
    flex-shrink: 0;
  }

  & > div:not(:only-child) {
    margin-left: 0.65em;
  }
}

.quantityX {
  transform: translateY(-5%);
}

.bull {
  margin: 0 0.35em;
}

.search {
  padding: 0;
  border: none;

  &:last-of-type .divider {
    display: none;
  }
}

.divider {
  width: 3.5px;
  height: 3.5px;
  background-color: $grey-8;
  transform: translateY(2px);
  margin: auto 0.6em;
}
