.container {
  padding-top: map-get($em-spacers, 16);
  padding-bottom: map-get($em-spacers, 24);
  padding-left: $wrapper-padding;

  & > div:first-child {
    position: relative;
  }
}

.filters {
  margin-left: map-get($em-spacers, 16);
  overflow-x: scroll;

  span {
    margin-right: map-get($em-spacers, 20);
    color: $grey-8;
    flex-shrink: 0;

    &.active {
      color: $grey-10;
    }
  }

  span:last-child {
    padding-right: $wrapper-padding;
  }
}

.heading {
  margin-bottom: map-get($em-spacers, 32);
}

@include breakpoint("md") {
  .container {
    padding: map-get($em-spacers, 20);
    border: 2px solid $grey-4;
    border-radius: 14px;
  }

  .heading {
    margin-bottom: map-get($em-spacers, 24);
  }
}
