.container {
  h6 {
    color: $grey-9;
  }

  & > div {
    gap: map-get($em-spacers, 16);
    margin-top: map-get($em-spacers, 16);
    margin-bottom: map-get($em-spacers, 48);
  }
}

@include breakpoint("md") {
  .container {
    &:nth-of-type(3),
    &:nth-of-type(4) {
      & > div {
        flex-direction: column;
      }
    }
  }

  .container {
    h6 {
      font-size: 1rem;
    }

    & > div {
      margin-top: map-get($em-spacers, 12);
      margin-bottom: map-get($em-spacers, 32);
      gap: map-get($em-spacers, 12);
    }

    &:last-child > div {
      margin-bottom: 0;
    }
  }
}
