<<<<<<< HEAD
$content-padding: 1.25em;

.container {
  overflow-x: auto;
  padding-bottom: map-get($em-spacers, 12);
  width: calc(100vw - #{$content-padding});

  & > div:last-child {
    width: $content-padding;
    flex-shrink: 0;
    align-self: stretch;
  }
}

@include breakpoint("md") {
  .container {
    width: 100%;

    & > div:last-child {
      display: none;
    }
  }
}
=======
$content-padding: 1.25em;

.container {
  overflow-x: auto;
  padding-bottom: map-get($em-spacers, 12);
  width: calc(100vw - #{$content-padding});

  & > div:last-child {
    width: $content-padding;
    flex-shrink: 0;
    align-self: stretch;
  }
}

@include breakpoint("md") {
  .container {
    width: 100%;

    & > div:last-child {
      display: none;
    }
  }
}
>>>>>>> 3c094b84c4b6a5e6c8400166ac60b7393b7ddcff
