$border: (
  "height": 1.5px,
  "color": $grey-6,
);

:export {
  borderHeight: map-get($border, "height");
  borderColor: map-get($border, "color");
}

.container {
  margin-bottom: map-get($em-spacers, 48);

  &:last-child {
    margin-bottom: 0;
  }

  :global {
    span.select__hr {
      margin: map-get($em-spacers, 8) 0 0;
      height: map-get($border, "height");
      background-color: map-get($border, "color");
    }

    .input-incr-dcr__container {
      align-self: flex-end;

      .input {
        width: 3em;
        height: 100%;
      }
    }
  }
}

.header {
  margin: 0;

  h6 {
    @extend .bold;
  }
}
