@mixin path--filled-classNames() {
  @include path-classNames() {
    &.filled {
      @content;
    }
  }
}

@mixin masonry-item--small($elem: 1) {
  .item:not([data-length="1"]) {
    &:nth-child(#{$elem}) {
      @extend .item--small;
    }
  }
}

@mixin text-overflow($numberOfLines: 5) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $numberOfLines; /* number of lines to show */
  -webkit-box-orient: vertical;
}

@mixin breakpoint--max($width: "min-width") {
  @include breakpoint("lg", $width) {
    @content;
  }
}

@mixin responsive($width: "min-width") {
  @include breakpoint("md", $width) {
    @content;
  }
}

@mixin unresponsive($otherWidth: "max-width") {
  @include responsive($otherWidth) {
    @content;
  }
}

@mixin products-filters-btn--checked() {
  &.checked {
    background: rgba($grey-3, 0.75);
    border-color: $blue-7;
  }
}

@mixin font--italic() {
  font-style: italic;
}

@mixin bottom-sheet__title() {
  width: 100%;
  height: auto;
  display: block;
  color: $grey-8;
  text-align: center;
  padding: map-get($em-spacers, 8) 0;
  color: $grey-10;
  @include body-16();
  @include font-semibold();
}

// @mixin input--filled() {
//   $bg: $grey-3;
//   border-color: $bg;
//   background-color: $bg;

//   &:hover,
//   &:focus {
//     border-color: $primary;
//     background-color: $grey-3;
//   }
// }
