.container {
  section div div:first-child {
    margin-left: $wrapper-padding;
  }
}

.suggestion {
  height: calc(#{$home-img-height} / 2);
  opacity: 1 !important;

  :global {
    .index__carousel__content__container .beach_bar__header {
      margin-bottom: calc((100% - #{$home-img-content-width}) / 2.5);
    }
  }
}
