.container {
  margin-bottom: map-get($em-spacers, 16);
  padding: map-get($em-spacers, 8) 0.1em;
  border-bottom: 1px solid $grey-5;

  h6 {
    color: $grey-9;
  }
}

.container > div {
  a {
    margin-right: 0.375em;
  }

  svg {
    // align-self: flex-end;
    margin-top: 3%;

    path {
      stroke: $secondary;
    }
  }
}
