.container {
  margin-bottom: map-get($em-spacers, 24);
}

.btns {
  margin-bottom: map-get($em-spacers, 8);

  button {
    $border-color: $grey-8;
    border-radius: 50%;
    gap: 0;
    border-color: $border-color !important;
    border-width: 1px;
    padding: map-get($em-spacers, 8);

    &:hover {
      background-color: initial;
      border-color: $border-color;
    }

    &:active {
      background-color: $grey-4;
    }

    &:first-child {
      margin-right: map-get($em-spacers, 12);
    }
  }
}

.spacer {
  $space-width: 20vw;
  width: calc(#{$wrapper-padding} + #{$space-width});
  height: auto;
  flex-shrink: 0;
  align-self: stretch;

  @include breakpoint("md") {
    width: calc(#{$wrapper-padding} + #{$space-width * 2});
  }
}
