$item-height: 32vh;

.list {
  width: 50%;

  &:first-child {
    margin-right: $home-list-gap;

    @include masonry-item--small();
  }

  &:nth-child(2) {
    @include masonry-item--small(2);
  }
}

.item {
  display: inline-block;
  height: $item-height;
  width: 100%;

  &--small {
    height: calc(#{$item-height / 1.25} - #{$home-list-gap / 2});
  }
}
