.container {
  position: relative;
  min-height: min(60vw, 18em);
  overflow: visible;
  margin: map-get($em-spacers, 24) 0;
}

.scrollableArea {
  position: absolute;
  top: 0;
  left: 0;
  padding: map-get($em-spacers, 16);
  width: 100vw;
  overflow-x: auto;
  cursor: grab;
}
