.container {
  color: $grey-10;
  margin-right: map-get($em-spacers, 48);
  flex: 0 0 auto;
}

.overflowPadding:last-child {
  padding-right: 25%;

  .container {
    margin-right: 0;
  }
}
