$border-radius: 14px;
$container-padding--left-right: map-get($em-spacers, 20);

.container {
  width: fit-content;
  height: fit-content;
  background-color: $grey-1;
  box-shadow: 4px 2px 32px $grey-5;
  border-radius: $border-radius;
  width: em(216);
  position: relative;
}

.imgContainer > div {
  box-shadow: 0px 6px 8px $grey-4;
  border-radius: $border-radius;
  width: 107.5% !important;
  left: 50%;
  transform: translateX(-50%);
}

.content,
.datesContainer {
  padding: map-get($em-spacers, 16) 0;
}

.content {
  padding-right: $container-padding--left-right;
  padding-left: $container-padding--left-right;
}

.content {
  h6 + div > svg {
    @extend .d--none;
  }

  details > summary {
    padding: 0.5em 0.75em;
    margin-bottom: -(map-get($em-spacers, 4));

    svg {
      @extend .d--none;
    }
  }

  & > div > div:first-child {
    align-self: flex-end;
  }

  :global {
    .select__modal {
      width: max-content;
      min-width: 220px;
    }
  }
}

.datesContainer {
  background-color: $grey-4;
  list-style-type: none;
  margin: 0;
  border-radius: 24px 24px $border-radius $border-radius;

  ul {
    margin: 0;
    padding: 0 $container-padding--left-right;
    max-height: 5em;
    overflow-y: scroll;
  }
}

.date {
  margin: map-get($em-spacers, 12) 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  svg {
    margin-right: map-get($em-spacers, 8);

    path {
      stroke-width: 5px;
      stroke: $grey-7;
    }
  }

  & > div > span {
    color: $grey-9;
  }

  & > span {
    @extend .semibold;
    color: $grey-8;
  }
}
