.visit {
  summary {
    width: 10em !important;
  }

  & > div {
    align-items: center;
  }
}

.rating {
  cursor: pointer;

  &:not(:last-child) {
    margin-right: map-get($em-spacers, 8);
  }

  &:not(.colored) > path {
    stroke: $grey-9 !important;
    stroke-width: 1px !important;
  }

  &#{Container} {
    margin: map-get($em-spacers, 24) 0 map-get($em-spacers, 32);
  }
}
