.container {
  border-radius: 14px;
  border: 1px solid $grey-6;
  padding: map-get($em-spacers, 12);
}

.imgContainer {
  position: relative;
  width: 7em;
  height: auto;
  min-height: max(7em, 13.5vh);
  margin-right: map-get($em-spacers, 16);
  border-radius: 14px;
  overflow: hidden;
  flex-shrink: 0;
}

.content {
  h6 {
    color: $grey-9;
  }

  span {
    margin: 0.15em 0 map-get($em-spacers, 8);
  }

  & > div:last-child {
    align-self: flex-end;
  }
}

@include breakpoint("sm") {
  .container {
    max-width: 14em;
    flex-direction: column;
  }

  .imgContainer {
    width: 100%;
    min-height: 10em;
    margin-right: 0;
    margin-bottom: map-get($em-spacers, 12);
  }

  .content {
    flex-direction: row;

    & > div:last-child {
      align-self: center;
    }
  }
}
