<<<<<<< HEAD
.container {
  $bg: $volcano-2;
  background-color: $bg;
  // border-color: $bg;
  align-self: center;
  @include transition-2s("ease-out", "opacity");

  & > svg:last-child {
    position: absolute;
  }

  &:active {
    opacity: 0.8;
    background-color: $bg;
  }

  :global {
    @include path--filled-classNames() {
      fill: $red-5 !important;
    }
  }
}
=======
.container {
  $bg: $volcano-2;
  background-color: $bg;
  // border-color: $bg;
  align-self: center;
  @include transition-2s("ease-out", "opacity");

  & > svg:last-child {
    position: absolute;
  }

  &:active {
    opacity: 0.8;
    background-color: $bg;
  }

  :global {
    @include path--filled-classNames() {
      fill: $red-5 !important;
    }
  }
}
>>>>>>> 3c094b84c4b6a5e6c8400166ac60b7393b7ddcff
