.container {
  padding: map-get($em-spacers, 8);
  border-radius: 14px;
  background-color: rgba($volcano-2, 0.9);
  align-self: flex-end;
  cursor: pointer;
  z-index: 99;
  @include transition-2s("ease-out", "opacity");

  & > svg:last-child {
    position: absolute;
  }

  &:active {
    opacity: 0.8;
  }

  :global {
    @include path--filled-classNames() {
      fill: $red-5 !important;
    }
  }
}
