$gap: map-get($em-spacers, 20);

.column {
  gap: $gap;

  &:first-child {
    margin-right: $gap;
    @include masonry-item--small();
  }

  &:nth-child(2) {
    @include masonry-item--small(2);
  }
}

.item {
  $item-height: 32vh;
  display: inline-block;
  min-height: $item-height;

  &--small {
    min-height: calc(#{$item-height / 1.25} - #{$gap / 2});
  }
}
