.box {
  border: 1px solid $grey-7;
  border-radius: 14px;
  padding: map-get($em-spacers, 8);
  background-color: $grey-1;
  cursor: pointer;
  @include transition-2s("ease-out", "background-color, opacity");

  &:hover {
    opacity: 0.5;
  }

  &:active {
    background-color: $grey-3;
  }
}
