.container.open {
  cursor: zoom-out;

  .shade {
    pointer-events: auto;
    opacity: 1;
  }

  .content {
    margin: auto;
    cursor: inherit;
    max-width: 75vw;
    box-shadow: none;

    & > div:first-child {
      max-height: 50vh;
      box-shadow: 0 2px 16px rgba($grey-10, 0.125);
    }

    &:hover > * {
      opacity: 1;
      transform: none;
    }
  }
}

.content {
  cursor: zoom-in;
}

.description {
  color: $grey-1;
  margin-top: map-get($em-spacers, 12);
}

@include breakpoint("lg") {
  .container.open .content {
    max-width: 50vw;
  }
}
