<<<<<<< HEAD
.header {
  margin-top: map-get($em-spacers, 32);
  font-size: map-get($rem-spacers, 32);
  color: $grey-9;
}
=======
.header {
  margin-top: map-get($em-spacers, 32);
  font-size: map-get($rem-spacers, 32);
  color: $grey-9;
}
>>>>>>> 3c094b84c4b6a5e6c8400166ac60b7393b7ddcff
