<<<<<<< HEAD
.container {
  max-width: 25em;

  & > div:nth-child(2) {
    margin: 0 map-get($em-spacers, 12) map-get($em-spacers, 4);
  }

  & > div:not(:nth-child(2)) {
    height: 1px;
    background-color: $grey-6;
    border-radius: 8px;
    flex: 1;
  }

  &.column {
    min-height: 100%;
    align-self: stretch;
  }
}

.column > div:not(:nth-child(2)) {
  width: 1px;
}
=======
.container {
  max-width: 25em;

  & > div:nth-child(2) {
    margin: 0 map-get($em-spacers, 12) map-get($em-spacers, 4);
  }

  & > div:not(:nth-child(2)) {
    height: 1px;
    background-color: $grey-6;
    border-radius: 8px;
    flex: 1;
  }

  &.column {
    min-height: 100%;
    align-self: stretch;
  }
}

.column > div:not(:nth-child(2)) {
  width: 1px;
}
>>>>>>> 3c094b84c4b6a5e6c8400166ac60b7393b7ddcff
